@model HomeVM
    <!-- HERO SECTION -->
<article class="bg-header">

    <section class="hero-section p-lg-5 p-3 ">
        <div class="row p-lg-5 p-3">
            <div class="col-lg-6 col-12">
                <div>
                    <div class="hero-section-header-p-container">
                        <p class="hero-text">@Model.Home.HeaderPreSlogan</p>
                        <h1 class="hero-section-header">@Model.Home.HeaderSlogan</h1>
                        <div class="hero-btn-group">
                            <a href="#" class="btn-site-accent-colored animation fs-1">مشاهده پروژه‌ها</a>
                            <a href="#" class="btn-site-white animation fs-1">ارتباط با ما</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-section-img col-lg-6 col-12">
                <img src="~/image/@Model.Home.BannerImage" alt="لوگوی سایت"
                     class="d-block mx-auto w-75">
            </div>
        </div>
    </section>
</article>
<!-- SERVICES SECTION -->
@await Component.InvokeAsync("Services")
<!-- PROJECTS SECTION -->
@await Component.InvokeAsync("Projects")
<!-- ABOUT SECTION -->
@await Component.InvokeAsync("HomeAbout")
<!-- BLOG SECTION -->
<section id="Blog" class="blog-section ontainer p-lg-5 p-2 z-index-2">
    <h2 class="blog-header">
        مقالات
    </h2>
    <div>
        <div class="blog-cards row w-100">
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
                <div class="nft">
                    <div class="main">
                        <img class="tokenImage" src="~/image/HC-LOGO -1-01.png" width="100%" alt="title" />
                        <h2 class="text-light mt-3">عنوان مقاله</h2>
                        <p class="description">
                            توضیحات کوتاه مقاله در این بخش قرار خواهد گرفت
                        </p>
                        <div class="tokenInfo">
                            <div class="duration">
                                <p>11 روز قبل</p>
                            </div>
                        </div>
                        <hr />
                        <div class="creator">
                            <a href="#" class="btn-site rounded py-2 d-block w-100 text-center">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
                <div class="nft">
                    <div class="main">
                        <img class="tokenImage" src="~/image/HC-LOGO -1-01.png" width="100%" alt="title" />
                        <h2 class="text-light mt-3">عنوان مقاله</h2>
                        <p class="description">
                            توضیحات کوتاه مقاله در این بخش قرار خواهد گرفت
                        </p>
                        <div class="tokenInfo">
                            <div class="duration">
                                <p>11 روز قبل</p>
                            </div>
                        </div>
                        <hr />
                        <div class="creator">
                            <a href="#" class="btn-site rounded py-2 d-block w-100 text-center">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
                <div class="nft">
                    <div class="main">
                        <img class="tokenImage" src="~/image/HC-LOGO -1-01.png" width="100%" alt="title" />
                        <h2 class="text-light mt-3">عنوان مقاله</h2>
                        <p class="description">
                            توضیحات کوتاه مقاله در این بخش قرار خواهد گرفت
                        </p>
                        <div class="tokenInfo">
                            <div class="duration">
                                <p>11 روز قبل</p>
                            </div>
                        </div>
                        <hr />
                        <div class="creator">
                            <a href="#" class="btn-site rounded py-2 d-block w-100 text-center">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
                <div class="nft">
                    <div class="main">
                        <img class="tokenImage" src="~/image/HC-LOGO -1-01.png" width="100%" alt="title" />
                        <h2 class="text-light mt-3">عنوان مقاله</h2>
                        <p class="description">
                            توضیحات کوتاه مقاله در این بخش قرار خواهد گرفت
                        </p>
                        <div class="tokenInfo">
                            <div class="duration">
                                <p>11 روز قبل</p>
                            </div>
                        </div>
                        <hr />
                        <div class="creator">
                            <a href="#" class="btn-site rounded py-2 d-block w-100 text-center">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="blog-index-btn button animation">مشاهده همه</a>
    </div>
</section>
