@model HomeVM
    <!-- HERO SECTION -->
<article class="bg-header">

    <section class="hero-section p-lg-5 p-3 ">
        <div class="row p-lg-5 p-3">
            <div class="col-lg-6 col-12">
                <div>
                    <div class="hero-section-header-p-container">
                        <p class="hero-text">@Model.Home.HeaderPreSlogan</p>
                        <h1 class="hero-section-header">@Model.Home.HeaderSlogan</h1>
                        <div class="hero-btn-group">
                            <a href="#" class="btn-site-accent-colored animation fs-1">مشاهده پروژه‌ها</a>
                            <a href="#" class="btn-site-white animation fs-1">ارتباط با ما</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-section-img col-lg-6 col-12">
                <img src="~/image/@Model.Home.BannerImage" alt="لوگوی سایت"
                     class="d-block mx-auto w-75">
            </div>
        </div>
    </section>
</article>
<!-- SERVICES SECTION -->
<section class="services-section p-lg-5 p-3">
    <h1 class="service-header"><span>خدماتی</span> که ما ارائه میدیم</h1>
    <div>

        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="card-service z-index-2">
                    <span class="icon">
                        <!-- service-card-icon -->
                        <i class="fa-solid fa-circle-check"></i>
                    </span>
                    <h4>طراحی وبسایت</h4>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است لورم ایپسوم
                        متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
                        <br>
                        <a href="#" class="btn-site-amber d-block mt-5">شرح خدمات</a>
                    </p>
                    <div class="shine"></div>
                    <div class="background">
                        <div class="tiles">
                            <div class="tile tile-1"></div>
                            <div class="tile tile-2"></div>
                            <div class="tile tile-3"></div>
                            <div class="tile tile-4"></div>
                            <div class="tile tile-5"></div>
                            <div class="tile tile-6"></div>
                            <div class="tile tile-7"></div>
                            <div class="tile tile-8"></div>
                            <div class="tile tile-9"></div>
                            <div class="tile tile-10"></div>
                        </div>
                        <div class="line line-1"></div>
                        <div class="line line-2"></div>
                        <div class="line line-3"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card-service">
                    <span class="icon">
                        <!-- service-card-icon -->
                        <i class="fa-solid fa-eye"></i>
                    </span>
                    <h4>سئو</h4>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است لورم ایپسوم
                        متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
                        <br>
                        <a href="#" class="btn-site-amber d-block mt-5">شرح خدمات</a>
                    </p>
                    <div class="shine"></div>
                    <div class="background">
                        <div class="tiles">
                            <div class="tile tile-1"></div>
                            <div class="tile tile-2"></div>
                            <div class="tile tile-3"></div>
                            <div class="tile tile-4"></div>
                            <div class="tile tile-5"></div>
                            <div class="tile tile-6"></div>
                            <div class="tile tile-7"></div>
                            <div class="tile tile-8"></div>
                            <div class="tile tile-9"></div>
                            <div class="tile tile-10"></div>
                        </div>
                        <div class="line line-1"></div>
                        <div class="line line-2"></div>
                        <div class="line line-3"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card-service">
                    <span class="icon">
                        <!-- service-card-icon -->
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <h4>طراحی اپلیکیشن</h4>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است لورم ایپسوم
                        متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
                        <br>
                        <a href="#" class="btn-site-amber d-block mt-5">شرح خدمات</a>
                    </p>
                    <div class="shine"></div>
                    <div class="background">
                        <div class="tiles">
                            <div class="tile tile-1"></div>
                            <div class="tile tile-2"></div>
                            <div class="tile tile-3"></div>
                            <div class="tile tile-4"></div>
                            <div class="tile tile-5"></div>
                            <div class="tile tile-6"></div>
                            <div class="tile tile-7"></div>
                            <div class="tile tile-8"></div>
                            <div class="tile tile-9"></div>
                            <div class="tile tile-10"></div>
                        </div>
                        <div class="line line-1"></div>
                        <div class="line line-2"></div>
                        <div class="line line-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PROJECTS SECTION -->
<section class="projects-section">
    <h3 class="projects-header">پروژه‌های ما</h3>
    <div class="container projects-tabs">
        @await Component.InvokeAsync("Projects")
</section>
<!-- ABOUT SECTION -->
<section class="about-section container">
    <div class="row">
        <div class="about-section-img col-lg-4">
            <img src="~/image/HC-LOGO -1-01.png" alt="عکس درباره ما">
        </div>
        <div class="about-section-content col-lg-8">
            <div>
                <h3>درباره هایپرکد</h3>
                <div class="about-divider"></div>
                <p class="text-justified">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است لورم ایپسوم
                    متن
                    ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است لورم ایپسوم متن
                    ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است
                    <br>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است لورم ایپسوم متن
                    ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                    از
                    صنعت چاپ، و با استفاده از طراحان گرافیک است
                </p>
                <div class="about-buttons">
                    <a href="#" class="button">نیاز به مشاوره دارید؟</a>
                    <a href="#" class="button animation">********099 <i class="fa-solid fa-phone"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BLOG SECTION -->
<section id="Blog" class="blog-section ontainer p-lg-5 p-2 z-index-2">
    <h2 class="blog-header">
        مقالات
    </h2>
    <div>
        <div class="blog-cards row w-100">
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
                <div class="nft">
                    <div class="main">
                        <img class="tokenImage" src="~/image/HC-LOGO -1-01.png" width="100%" alt="title" />
                        <h2 class="text-light mt-3">عنوان مقاله</h2>
                        <p class="description">
                            توضیحات کوتاه مقاله در این بخش قرار خواهد گرفت
                        </p>
                        <div class="tokenInfo">
                            <div class="duration">
                                <p>11 روز قبل</p>
                            </div>
                        </div>
                        <hr />
                        <div class="creator">
                            <a href="#" class="btn-site rounded py-2 d-block w-100 text-center">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
                <div class="nft">
                    <div class="main">
                        <img class="tokenImage" src="~/image/HC-LOGO -1-01.png" width="100%" alt="title" />
                        <h2 class="text-light mt-3">عنوان مقاله</h2>
                        <p class="description">
                            توضیحات کوتاه مقاله در این بخش قرار خواهد گرفت
                        </p>
                        <div class="tokenInfo">
                            <div class="duration">
                                <p>11 روز قبل</p>
                            </div>
                        </div>
                        <hr />
                        <div class="creator">
                            <a href="#" class="btn-site rounded py-2 d-block w-100 text-center">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
                <div class="nft">
                    <div class="main">
                        <img class="tokenImage" src="~/image/HC-LOGO -1-01.png" width="100%" alt="title" />
                        <h2 class="text-light mt-3">عنوان مقاله</h2>
                        <p class="description">
                            توضیحات کوتاه مقاله در این بخش قرار خواهد گرفت
                        </p>
                        <div class="tokenInfo">
                            <div class="duration">
                                <p>11 روز قبل</p>
                            </div>
                        </div>
                        <hr />
                        <div class="creator">
                            <a href="#" class="btn-site rounded py-2 d-block w-100 text-center">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
                <div class="nft">
                    <div class="main">
                        <img class="tokenImage" src="~/image/HC-LOGO -1-01.png" width="100%" alt="title" />
                        <h2 class="text-light mt-3">عنوان مقاله</h2>
                        <p class="description">
                            توضیحات کوتاه مقاله در این بخش قرار خواهد گرفت
                        </p>
                        <div class="tokenInfo">
                            <div class="duration">
                                <p>11 روز قبل</p>
                            </div>
                        </div>
                        <hr />
                        <div class="creator">
                            <a href="#" class="btn-site rounded py-2 d-block w-100 text-center">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="blog-index-btn button animation">مشاهده همه</a>
    </div>
</section>
