    <!-- FOOTER -->
<footer class="footer py-lg-5 py-2 z-index-2">
    <div class="container z-index-2">
        <div class="social-btns mb-3">
            <a class="btn twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="btn google" href="#"><i class="fa fa-whatsapp"></i></a>
            <a class="btn dribbble" href="#"><i class="fa fa-instagram"></i></a>
            <a class="btn skype" href="#"><i class="fa fa-telegram"></i></a>
        </div>
        <hr class=" position-relative my-5">
        <div class="row">
            <div class="footer-tab z-index-2 col-lg-4 col-sm-6">
                <p class="footer-tab-title">دسترسی سریع</p>
                <ul>
                    <li><a href="#">صفحه نخست</a></li>
                    <li><a href="#">مقالات</a></li>
                    <li><a href="#">درباره ما</a></li>
                </ul>
            </div>
            <div class="footer-tab z-index-2 col-lg-4 col-sm-6">
                <p class="footer-tab-title">خدمات</p>
                <ul>
                    <li><a href="#">طراحی وبسایت</a></li>
                    <li><a href="#">طراحی نرم‌افزار ویندوز</a></li>
                    <li><a href="#">سئو</a></li>
                    <li><a href="#">هوشمند سازی</a></li>
                </ul>
            </div>
            <div class="footer-tab z-index-2 col-lg-4 col-sm-6">
                <p class="footer-tab-title">تماس با ما</p>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-phone me-2"></i> شماره تماس: <span>090******** </span></a></li>
                    <li><a href="#"><i class="fa-solid fa-envelope me-2"></i> ایمیل: <span>Hypercode@gmail.com</span> </a></li>
                </ul>
            </div>
        </div>
        <hr class=" position-relative my-5">
        <p class="text-center position-relative z-index-2"><span class="text-secondary-dark">Hypercode</span> All rights reserved</p>
    </div>
</footer>
<!-- FOOTER -->
